@page "/editorial"
@using Reader.Shared
@inject HttpClient Http

<PageTitle>Editorial Page</PageTitle>

<h1>Editorial Page</h1>

@if (feeds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var feed in feeds)
    {
        <SingleFeed News="feed"/>
    }
}


@code {
    private Feed[]? feeds;

    protected override async Task OnInitializedAsync()
    {
        feeds = await Http.GetFromJsonAsync<Feed[]>("Feeds?cat=editorial");
        if (feeds != null)
        {
            for (int x = 0; x < feeds.Length; x++)
            {
                feeds[x] = await Http.GetFromJsonAsync<Feed>($"SingleFeed?url={feeds[x].Url}&length=8");
                StateHasChanged();
                //feeds[x] = await Http.GetFromJsonAsync<Feed>($"Feed?url={feeds[x].Url}");
            }
        }
    }
}
