<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">News Reader</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=""  Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Latest News
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/news/sports">
                <span class="oi oi-target" aria-hidden="true"></span> Sports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/news/culture">
                <span class="oi oi-aperture" aria-hidden="true"></span> Culture
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/news/business">
                <span class="oi oi-cart" aria-hidden="true"></span> Business
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/news/finance">
                <span class="oi oi-dollar" aria-hidden="true"></span> Finance
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/news/politics">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Politics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/news/world">
                <span class="oi oi-globe" aria-hidden="true"></span> World
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/news/tech">
                <span class="oi oi-cog" aria-hidden="true"></span> Tech
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/news/editorial">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Editorials
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
